@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: whitesmoke;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4050B2;
}

#logo {
  float: left;
  width: 100px;
  margin-left: 50px;
}

ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-left: 20px;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
}

a:hover {
  background-color: #4050B2;
  color: #75E3CB;
  border: 2px solid #75E3CB;
  border-radius: 18px;
}

section{
  height: 80vh;
}
  #inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #inicio p{
    text-align: center;
    margin: 0 12.5rem;
    font-size: 1.2rem;
  }

  h1{
    font-size: 3rem;
    font-weight: bold;
  }

  h2{
    padding-top: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #4050B2;
  }

  i.fas.fa-code{
    background-color: #D0FFF5;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 2px solid #75E3CB;
  }

  .redes{
    font-size: 2.5rem;
    color: #4050B2;
  }
  .contenedor {
    background-color: #4050B2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    font-weight: bold;
  }

  .titulo {
    color: white;
    font-weight: bold;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 1rem;
  }
  .sub-contenedor {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }

  .sub-contenedor i {
    color: #75E3CB;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    margin-top: -30px;
  }
  
  #habilidades {
    background-color: #75E3CB;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }
  
  .sub-contenedor-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 10px 20px;
  }

  .titulo{
    text-align: center;
  }

  .sub-contenedor-2 i {
    color: #4050B2;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
  }

  
  textarea {
    height: 150px;
    resize: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #75E3CB;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  button {
    font-size: 18px;
    background-color:#4050B2;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
button:hover{
  background-color: #75E3CB;
  color: black;
}

  .foto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .foto img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  footer {
    background-color:#4050B2;
    color: #fff;
    padding: 40px;
    text-align: center;
    margin-bottom: 20px;
  }

  .sotial-networks{
    margin-top: 20px;
    color: #75E3CB;
  }
